.icon-img{
    width: 2em;
    border-radius: 50%;
}

.cute-nav-container{
    border: 2px solid black;
    display: flex;
    max-width: 26vw;
    padding: 5px;
    position: absolute;
    top: 0.5em;
    right: 4em;
}

.apps-icon{
    position: absolute;
    padding: 10px;
    top: 0;
    right: 0;
    width: 4em;
    border-radius: 50%;
}

.apps-icon:hover {
    cursor: pointer;
}