

.email-preview-container{
    background-color:lightgoldenrodyellow;
}

.email-preview-container .actions i{
    margin-left:10px;
}

.email-preview-container .actions i:hover{
    cursor: pointer;
}

.email-preview-container .star {
    visibility:hidden;
    font-size:20px;
    cursor:pointer;
    margin: 0 7px;
}

.email-preview-container .star:before {
   content: "\2605";
   position: absolute;
   visibility:visible;
}

.email-preview-container .star:checked:before {
   content: "\2606";
   position: absolute;
}

.email-preview-container .mark{
    margin-left: 8px;
    margin-top: 5px;
}

.email-preview-container:hover{
    background-color:lightblue;
}

.email-preview-container .preview-link{
    width:100%;
}

.email-preview-container .actions span{
    position: relative;
    top: 8px;
}

.email-preview-container .actions span:hover{
    cursor: pointer;
}