.homepage-container{
    text-align: center;
    background-image: url("https://github.com/tomdor123/appsus/blob/master/img/homepage-bg.jpg?raw=true");
    background-position: 53% 73%;
    background-repeat: no-repeat;
    height: 100vh;
}

.navbar{
    z-index: 1;
}

#mainNav *{
    color: rgba(255, 255, 255, 0.637);
}
