.homepage-container{
    text-align: center;
    background-color: black;
    background-image: url("https://github.com/tomdor123/appsus/blob/master/img/homepage-bg-small.jpg?raw=true");
    background-position: 126% 81%;
    background-repeat: no-repeat;
    opacity: 1;
    height: 100vh;
}

.landing-logo{
    position: absolute;
    left: 0em;
    top: -8em;
    width: 300px;
    z-index: -10;
}


/* .img.ready {
    display: block;
  } */

.navbar{
    z-index: 1;
}

.nav-link{
    float: left;
}

#mainNav *{
    color: rgba(255, 255, 255, 0.637);

}
