
.note-container{
    /* display: flex;
    flex-wrap: wrap; */
    /* columns: 100px 3; */
    height:auto;
    background: lightgreen;
    border: 1px solid black;
    margin: 0 auto;
    cursor: pointer;
}

.note-img{
    width: 12em;
}

.note-list-container{
    columns:100px 3
}

.not-pinned-container{
    columns: 100px 3;
}
