.status-bar{
border: 1px solid black;
text-align: center;
display: block;
width: 13%;
height: 24px;
margin: 0 auto;
position: absolute;
left: 1em;
top: 21em;
}

.status-loader{
    transition: 0.6s;
    height:24px;
    width:20%;
    background-color: lightblue;
    transition:.6s;
}
