.status-bar{
border: 1px solid black;
text-align: center;
display: flex;
width: 14.7vw;
height: 24px;
margin: 0 auto;
position: absolute;
top: 21em;
}

.status-loader{
    transition: 0.6s;
    height:24px;
    width:20%;
    background-color: lightblue;
    transition:.6s;
    background-image: url("https://github.com/tomdor123/appsus/blob/master/img/loader-bg.gif?raw=true");
    background-position: 54% 77%;
}
