@import url('email-preview.css');
@import url('email-details.css');
@import url('email-status.css');
@import url('email-compose.css');
@import url('filterBy.css');
@import url('side-bar.css');


.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to
    {
    opacity: 0;
}

.email-app {
    height: 100vh;
}

.main-header {
    height: 40px;
    border: 1px solid rgba(87, 83, 83, 0.144);
    border-style: none none solid none;
}

.list-sidebar-container {
    display: grid;
    grid-template-columns: 15% auto;
    height: 100%;
}

.main-header button {
    position: absolute;
    border-radius: 10px;
    bottom: 0em;
    right: 1em;
}