.compose-container{
    position: absolute;
    margin: 0 auto;
    border: 2px solid black;
    right: 4em;
    bottom: 0;
    width: 30em;
}

.compose-header{
    background-color: black;
    color: white;
    height: 10vh;
    width: 100%;
}

.compose-title{
    margin: 0 auto;
}

.compose-inputs{
    width: 100%;
}

.compose-input-text{
    height: 45vh;
    width: 100%;
}

.compose-container-full{
    position: absolute;
    margin: 0 auto;
    border: 2px solid black;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.compose-header-full{
    background-color: black;
    color: white;
    height: 10vh;
    width: 100%;
}

.compose-title-full{
    margin: 0 auto;
}

.compose-inputs-full{
    width: 100%;
}

.compose-input-text-full{
    height:30em;
    width: 100%;
}

