.filter ul {
    padding: 0;
    width: 206px;
    position: relative;
    top: -17px;
}

.filter li {
    border: 1px solid lightgray;
}

.filter li:hover {

    background-color: lightgray;
}

.filter-options {
    height: 27px;
    display: flex;
    float: right;
    width: 20%;
}

.search-options-list{
    padding: 0;
    position: absolute;
    background-color: white;
    z-index: 1;
    float: inline-end;
    width: inherit;
    border: 1px solid rgba(100, 97, 97, 0.192);
}

.search-single-option{
    text-align: left;
    border: 1px none rgba(100, 97, 97, 0.192);

}
.search-single-option:hover{
    cursor: pointer;
}

.search-box {
    position: absolute;
    width: 80vw ;
    left: 15vw;
    top: 0.3em;
}

.search-box-input{
    width: 80%;
}

.filter-container {
    margin: 1.2em auto;
    top:2em;
}
