.filter ul {
    padding: 0;
    /* background-color: aquamarine; */
    width: 206px;
    position: relative;
    top: -17px;
}

.filter li {
    border: 1px solid lightgray;
}

.filter li:hover {
    cursor: pointer;
    background-color: lightgray;
}

.filter-options {
    height: 23px;
    display: flex;
    float: right;
    /* position: absolute;
    right: 24.5em;
    top: 0em; */

}

.search-box {
    margin: 0 auto;
}

.filter-container {
    margin: 0 auto;
}