

.side-bar ul{
    padding-left:0;
}

.side-bar{
    height: 100%;
    background-color:#FFFFFF;
    border: 1px solid rgba(90, 88, 88, 0.164);
}

.side-bar li{
    cursor: pointer;
    text-align: center;
    margin: 5 auto;
    padding-bottom: 1em;
    padding-top: 1em;
    width: 100%;
    border-radius: 0 10px 10px 0;

}

.side-bar li:hover{
    background-color: #F1F3F4;
}