

.side-bar ul{
    padding-left:0;
}

.side-bar{
    height: 100%;
    background-color:#FFFFFF;
}

.side-bar li{
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    border-radius: 0 10px 10px 0;

}

.side-bar li:hover{
    background-color: #F1F3F4;
}